.user-component{
  display: flex;
  align-items: center;
  flex: 1;
}

.user-avatar{
  :last-child{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
  }
}

// .user-name{
  //   flex: 1;
  // }