.about{
  position: relative;
  height: 100vh;
  background: url(./../images/bg/about.png) center center/cover no-repeat;

} 

.about__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}