.form {
  padding-right: 20%;
  color: #fff;
}

.form__title {
  margin-bottom: 83px;
}

.form__row {
  display: flex;
  // flex: 1;
  margin-bottom: 36px;
  justify-content: space-between;

  &-long{
    margin-bottom: 60px;
  }
}

