.header{ 
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btns{
  margin: 0 8%;
  font-size: 16px;
  flex: 1;
  font-weight: 500;
  white-space: nowrap;
}

.header__logo{
  font-size: 36px;
  font-weight: 800;
  // padding: 0 28px;
}

// .header__links{
//   padding: 0 14px;
// }


