.hero__bottom-btn{
  position: absolute;
  bottom: 2%;
  left: 51.8%;
  transform: translateX(-50%);
}

.hero{
  height: 100vh;
  position: relative;
  min-height: 650px;
  margin-bottom: 320px;
}

.hero__container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-bottom: 6%;
}