.longtitle__text{
  font-size: 30px;
  line-height: 36px;
  color: currentColor;
  font-weight: bold;
  margin-bottom: 50px;
}

.longtitle__decs{
  line-height: 30px;
  opacity: 0.3;
  font-weight: 600;
}