.scroll-down-btn{
  display: flex;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  align-items: center;

  @include tablets {
    display: none;
  }
}

.scroll-down-btn__icon{
  height: 30px;
  fill: currentColor;
  width: 28px;
  height: 30px;
  margin-left: 10px;
}

