.scroll-down-btn{
  display: flex;
  flex: 1 ;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
}

.scroll-down-btn__icon{
  // width: 19px;
  height: 30px;
  fill: currentColor;
  margin-left: 4px;
}