.skills{
  font-weight: 700;
  width: 66%;
  display: flex;
    justify-content: center;
    flex-direction: column;

  @include tablets{
    width: 100%;
  }
}

.skills__item{
  margin-bottom: 35px;
}