.user-info__avatar{
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.user-info__table{
  width: 100%;
  font-weight: 600;

  td {
    padding-bottom: 15px;
    padding-left: 9%;
  }

  td:first-child{
    padding-left:0;
  }

  tr:last-child td {
    padding-bottom: 0;
  }
}

.user-info__table-title {
  color: rgba($text-color, .3);
  margin-right: 5%;
}