.user-data{
  display: flex;
}

.user-data__desc{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
  text-align: right;
  width: 25%;
  margin-right: 8%;
}

.user-data__name{
  letter-spacing: 0.8px;
  font-size: 72px;
  font-weight: 800;
  line-height: 0.83;
  width: 67%;
}