.values{
  position: relative;
}

.values__triangles{
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
}

.values__title{
  padding: 12% 23% 0% 28%;
  margin-bottom: 83px;
}

.values__content{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 96px;
}