.welcome-section{
  position: relative;
  padding-bottom: 1px;

  @include tablets{
    background: url(./../images/bg/index.png) center center/cover no-repeat;
    padding-bottom: 10%;
  }

}


.welcome-section__triangles{
  position: absolute;
  bottom: 0%;
  right: 0;
  left: 0;
}