.headline-component {
  background: linear-gradient(to top, #3e3e59, #454573);
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.content {
  :last-child {
    margin-right: 16px;
  }
}

.desc {
  text-align: center;
  flex: 1;
  padding-right: 5%;
}

.logout {
  margin-left: auto;
  color: inherit;
}