.headline-component {
  background: linear-gradient(to top, #3e3e59, #454573);
  display: flex;
  align-items: center;
  padding: 20px;
}

.content{
  :last-child{
    margin-right: 16px;
  }
}

.logout {
  margin-left: auto;
  color: inherit;
}