.edit-line-component {
  &.blocked {
    opacity: 0.5;
    filter: grayscale(100%);
    pointer-events: none;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 44px;
}

.text {
  flex: 1;
  width: 95%;
}

.input {
  width: 95%;
  flex: 1;
}

.buttons {
  display: flex;
}

.button-icon {
  margin-right: 20px;
  color: grey;

  &:last-child {
    margin-right: 0;
  }
}

.icon {
  :first-child {
    margin-right: 20px;
  }
}