.tabs-component {
  display: flex;

}

.tabs-list {
  display: flex;
}

.tabs-item {
  margin-right: 20px;
}

.btn {
  // display: flex;
  padding: 20px;
  background: inherit;
  position: relative;

  &.active {
    &:before {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background: #454573;
    }
  }

  // flex: 1;
}